


.grid-container {
    display:grid;
    font-size: medium;
    grid-template-columns: repeat(8, 1fr);
     gap: 50px;
    grid-auto-rows: 50px;
    grid-template-areas:
    "j j j j j j j j"
    "k k k k k k k k"
    "b i i i a a a a"
    "b h h h a a a a"
    "b h h h a a a a"
    "1 1 1 1 a a a a"
    "c l l l a a a a"
    "c m m m n n n n"
    "c m m m o o o o"
    "2 2 2 2 2 2 2 2"
    "d r q q q q q q"
    "e p s s s s s s"
    "f t u u u u u u"
    "g v w w w w w w"
    "3 3 3 3 3 3 3 3"
    "x x x x x x x x"
    
    
    
    ;
    align-items: start;
    text-align: left;

}

.grid-item1 {
    width:325px;
    grid-area: a;
    
    
}

.grid-item2 {
    width: 200px;
    grid-area: b;
}

.grid-item3 {
    width: 200px;
    grid-area: c;
}

.grid-item4 {
    width: 150px;
    grid-area: d;
}

.grid-item5 {
    width: 150px;
    grid-area: e;
}

.grid-item6 {
    width: 150px;
    grid-area: f;
}

.grid-item7 {
    width: 150px;
    grid-area: g;
}

.grid-item8 {
    grid-area: h;
    
}

.grid-item9 {
    grid-area: i;
}

.grid-item10 {
    grid-area: j;
}

.grid-item11 {
    grid-area: k;
}

.grid-item12 {
    grid-area: l;
}

.grid-item13 {
    grid-area: m;
}

.grid-item14 {
    grid-area: n;
}

.grid-item15 {
    grid-area: o;
}

.grid-item16 {
    grid-area: p;
}

.grid-item17 {
    grid-area: q;
}

.grid-item18 {
    grid-area: r;
}

.grid-item19 {
    grid-area: s;
}

.grid-item20 {
    grid-area: t;
}

.grid-item21 {
    grid-area: u;
}

.grid-item22 {
    grid-area: v;
}

.grid-item23 {
    grid-area: w;
}

.grid-item24 {
    grid-area: x;
}

.grid-item25 {
    grid-area: 1;
}

.grid-item26 {
    grid-area: 2;
}

.grid-item27 {
    grid-area: 3;
}












