date {
    color:gray;
}

.grid-item10 {
    text-align: center;
}

.grid-item11 {
    text-align: center;
}

.grid-item24 {
    background-color: gray;
    color: white;
}

emp {
    background-color: black;
    color:white;
}
